{% extends 'base.html.twig' %}

{% block title %}Liste des échouages{% endblock %}

{% block body %}
    <h2>Liste des échouages</h2>
    <a href="{{ path('echouage_new') }}">Ajouter un nouvel élément</a>

    <div class="table"><table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Nombre</th>
                <th>zone_id</th>
                <th>zone libelle</th>
                <th>espece_id</th>
                <th>espece libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for echouage in echouages %}
            <tr>
                <td>{{ echouage.id }}</td>
                <td>{{ echouage.date }}</td>
                <td>{{ echouage.nombre }}</td>
                <td>{{ echouage.Zone.id }}</td>
                <td>{{ echouage.Zone.zone }}</td>
                <td>{{ echouage.Espece.id }}</td>
                <td>{{ echouage.Espece.espece }}</td>
                <td>
                    <a href="{{ path('echouage_show', {'id': echouage.id}) }}">voir</a>
                    <a href="{{ path('echouage_edit', {'id': echouage.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun enregistrement pour cette recheche.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table></div>

    <a href="{{ path('echouage_new') }}">Ajouter un nouvel élément</a>
{% endblock %}
