{% extends 'base.html.twig' %}

{% block title %}Liste des espèces{% endblock %}

{% block body %}
    <h2>Liste des espèces</h2>
    <a href="{{ path('espece_new') }}">Ajouter un nouvel élément</a>
    <div class="table"><table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Espèce</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for espece in especes %}
            <tr>
                <td>{{ espece.id }}</td>
                <td>{{ espece.espece }}</td>
                <td>
                    <a href="{{ path('espece_show', {'id': espece.id}) }}">voir</a>
                    <a href="{{ path('espece_edit', {'id': espece.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table></div>
    <a href="{{ path('espece_new') }}">Ajouter un nouvel élément</a>
{% endblock %}
