{% extends 'base.html.twig' %}

{% block title %}Espece{% endblock %}

{% block body %}
    <h1>Espèce</h1>

    <div class="table"><table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ espece.id }}</td>
            </tr>
            <tr>
                <th>Espèce</th>
                <td>{{ espece.espece }}</td>
            </tr>
        </tbody>
    </table></div>

    <a href="{{ path('espece_index') }}">retour à la liste</a>

    <a href="{{ path('espece_edit', {'id': espece.id}) }}">modifier</a>

    {{ include('espece/_delete_form.html.twig') }}
{% endblock %}
