{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}

<div>
    <h2>Recherche d'une espèce</h2>
    <form class="recherche_box" action="{{ path('accueil_recherche') }}" method="get">
        <div class="combobox_part">
            <label for="zone">Zone</label><br>
            <select name="zone">
                <option value="0"
                    {% if zone_select.id == 0 %}
                        selected
                    {% endif %}
                >
                    Toutes les zones
                </option>
            {% for zone in zones %}
                <option value="{{ zone.id }}"
                    {% if zone_select.id == zone.id %}
                        selected
                    {% endif %}
                >
                    {{ zone.zone }}
                </option>
            {% endfor %}
            </select>
        </div>
        <div class="combobox_part">
            <label for="espece">Espèce</label><br>
            <select name="espece">
            {% for espece in especes %}
                <option value="{{ espece.id }}"
                    {% if espece_select.id == espece.id %}
                        selected
                    {% endif %}                
                >
                    {{ espece.espece }}
                </option>
            {% endfor %}
            </select>
        </div>
        <div class="combobox_part">
            <input type="submit" value="Rechercher">
        </div>                
    </form> 
</div>

{% block recherche %}{% endblock %}

{% endblock %}
