{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <p>Critères de recherche :</p>
    <ul>
        <li title="id = {{zone.id}}">zone : {{zone.zone}}</li>
        <li title="id = {{espece.id}}">espece : {{espece.espece}}</li>
    </ul>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Zone</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
    {% for resultat in resultats %}
        <tr>
            <td>{{ resultat.date }}</td>
            <td>{{ resultat.zone }}</td>
            <td>{{ resultat.nombre }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">Aucun enregistrement pour cette recheche.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>zone</th>
            <th>Min</th>
            <th>Max</th>
            <th>Moyenne</th>
        </tr>
    </thead>
    <tbody>
    {% for stat_zone in stats_zones %}
        <tr>
            <td>{{ stat_zone.zone }}</td>
            <td>{{ stat_zone.min }}</td>
            <td>{{ stat_zone.max }}</td>
            <td>{{ stat_zone.avg|round(2) }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">Aucune statistique pour cette recheche.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
