{% extends 'accueil/index.html.twig' %}

{% block title %}Recherche de {{espece_select.espece}} dans {{zone_select.zone}}{% endblock %}

{% block recherche %}


<div class="table">
    <table>
        <thead>
            <tr>
                <th>Date</th>
                {% if  zone_select.id == 0%}
                    {% for zone in zones %}
                        <th title="zone_id = {{zone.id}}">{{zone.zone}}</th>
                    {% endfor %}
                {% else %}
                <th title="zone_id = {{zone_select.id}}">{{zone_select.zone}}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for date,nb_par_zones in tab_par_dates %}
            <tr>
                <td>{{date}}</td>
                {% for nb in nb_par_zones %}
                    <td>{{nb}}</td>
                {% endfor %}
            </tr>
        {% else %}
            <tr>
                <td colspan="{{tab_par_zones|length}}">Aucun enregistrement pour cette recheche.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="table">
    <table>
        <thead>
            <tr>
                <th>Zone</th>
                <th>Min</th>
                <th>Max</th>
                <th>Moyenne</th>
            </tr>
        </thead>
        <tbody>
        {% for stat_zone in stats_zones %}
            <tr>
                <td>{{ stat_zone.zone }}</td>
                <td>{{ stat_zone.min }}</td>
                <td>{{ stat_zone.max }}</td>
                <td>{{ stat_zone.avg|round(2) }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune statistique pour cette recheche.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
