{% extends 'accueil/index.html.twig' %}

{% block title %}Recherche de {{espece_select.espece}} dans {{zone_select.zone}}{% endblock %}

{% block recherche %}


<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Zone</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
    {% for resultat in resultats %}
        <tr>
            <td>{{ resultat.date }}</td>
            <td>{{ resultat.zone }}</td>
            <td>{{ resultat.nombre }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">Aucun enregistrement pour cette recheche.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>zone</th>
            <th>Min</th>
            <th>Max</th>
            <th>Moyenne</th>
        </tr>
    </thead>
    <tbody>
    {% for stat_zone in stats_zones %}
        <tr>
            <td>{{ stat_zone.zone }}</td>
            <td>{{ stat_zone.min }}</td>
            <td>{{ stat_zone.max }}</td>
            <td>{{ stat_zone.avg|round(2) }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">Aucune statistique pour cette recheche.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
